* {
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
}

body {
  /* background: linear-gradient(135deg, #8258e4, #d161ff); */
  background: linear-gradient(135deg, #8052ec, #d161ff);
  text-align: center;
  /* height: 100vmin; this property is added by me */
}

h1 {
  color: #ffff;
}

.container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  /* color: #d161ff; */
  background-color: #ffff;
  cursor: pointer;
}

#reset_btn {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #0a0027;
  color: #ffffff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

#new-btn {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #0a0027;
  /* background-color: #ffff; */
  color: #ffffff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

#msg {
  color: #ffff;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}

.x-color{
  color: #e560ff;
}

.o-color{
  color: #a359ff;
}
